/*
Variables
*/

:root {
  --clr-primary-dark: hsl(205, 86%, 17%);
  --clr-primary: hsl(205, 78%, 60%);
  --clr-primary-light: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
Global Styles
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  margin: auto;
  margin-bottom: 50px;
}
h1 {
  text-align: center;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  font-size: 20px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background: #ccc;
  color: #fff;
  margin: 5px;
}
p {
  color: var(--clr-grey-3);
}
/*  
Global Classes 
*/

.btn {
  text-transform: uppercase;
  background: var(--clr-primary);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-primary);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-primary);
  background: var(--clr-primary-light);
  border-color: var(--clr-primary-light);
}

/*
Container
*/

.bcg-black {
  background: #f1f5f8;
}

.container {
  width: 90vw;
  background: var(--clr-white);
  margin: 0 auto;
  margin-top: 20px;
  border-radius: var(--radius);
  position: relative;
  text-align: left;
  padding: 1.5rem;
  box-shadow: var(--dark-shadow);
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 70px;
  background: var(--clr-grey-10);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.container img {
    max-width: 17%;
    max-height: 17%;
    position: relative;
    border-radius: 50%;
    padding: 5px;
    background: var(--clr-white);
    border: 1px solid rgba(0, 0, 0, 0.25);
    margin-bottom: 0rem;
    box-shadow: var(--dark-shadow);
  }
  .user-name {
    display: inline-block;
    position: absolute;
    top: 80px;
    left: 8px;
    font-weight: 600;
}
.detail {
  width: 80%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 15px;
    float: right;
}
.user-msg {
margin-left: 15px;
}
.user-title {
  font-size: 15px;
  margin-bottom: 0;
  text-transform: capitalize;
  font-weight: bold;
  display: inline-block;
}
.user-value {
  color: var(--clr-grey-1);
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  margin-left: 20px;
  display: inline-block;
}
.values-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
}
.icon {
  background: transparent;
  border: transparent;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--clr-grey-5);
  transition: var(--transition);
}
.icon:hover {
  color: var(--clr-primary);
}
.active {
  color: var(--clr-primary);
}
.btn {
  margin: 0 auto;
  margin-top: 1.5rem;
}
.loading {
  text-align: center;
  font-size: 200%;
  height: 200px;
  line-height: 200px;
}

.user p {
  word-break: break-word;
}
.numbers {
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.active {
  background-color: #7f7373;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(228, 228, 228);
  border-radius: 10px;
  z-index: 200;
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 290px;
  background: var(--clr-white);
  margin: 0 auto;
  margin-top: 20px;
  border-radius: var(--radius);
  text-align: left;
  box-shadow: var(--dark-shadow);
}
.modal::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 70px;
  background: var(--clr-grey-10);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.modal img {
  max-width: 100%;
  max-height: 300px;
  position: relative;
  border-radius: 0%;
  padding: 5px;
  background: var(--clr-white);
  border: 1px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 0rem;
  box-shadow: var(--dark-shadow);
}
.modal .modal-header {
  height: 2.5rem;
  border-radius:  var(--radius);
  background-color: rgb(29, 29, 29);
  position: relative;
}
.modal .btn {
    margin: 0 auto;
    margin-top: 0;
    position: absolute;
    z-index: 1;
    right: 0px;
}
.modal .user {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
}
.modal .user p {
  word-break: break-word;
  height: 30px;
}
.modal .modal-header h2 {
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0.4rem;
  cursor: pointer;
}
.modal .modal-body {
  height: 100%;
  display: grid;
  place-content: center;
}
.search-title{
  margin-top: 30px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.search-title h3{

}
.search-title input{
  margin-left: 10px;
}
@media screen and (min-width: 800px) {
  .icon {
    font-size: 2rem;
  }
  body {
    font-size: 1rem;
  }
}
@media screen and (min-width: 800px) {

}
@media screen and (max-width: 321px){
  .values-list {
    flex-wrap: wrap;
    grid-gap: 10px;
    margin-left: 28px;
  }
  .user-msg {
    margin-left: 0;
    float: right;
}
.user-title {
  font-size: 11px;
}
.user-value {
  font-size: 11px;
}
.user-name {
  top: 66px;
}
}